{% extends "base/note.html" %}
{% block content %}
<div id="logofade">
<pre>


-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBF4ZdwsBCACtAHOfDDDtwmLLhulZOwpgwIK+oexjLYeN4Aic9V1h59fFceeA
DZv0AKBtyYxKgZ91Fbky/w3nyneDO++RmnwgpPHWuHY9JTvcdGHFUl6JJsyisy6N
ToEBn+47V5EkdjRGqvNpMSPrXQ5R76CrGLqDszkIwDMVoBA64dXZPCBDjiAuJFGN
eko8jEZXJc8EUXb/XtUMLz/jYCre+J5TYY/qkJdZ3YBUO0jom3RHj1qBJNKVWFaM
L2uYSWAYK31STR0uKg4QJzgamgh2CEqF8/oGgSkYMptqQWF5T9xOkY4XSnTboEoN
Frn9zPc1dpcJ9CKNKRUIwjQeMBZTp2x76p/fABEBAAG0F3ZpcnR1YWxzbm93IDx2
c0B0eHQuc3g+iQFUBBMBCAA+FiEEBbHyUtz+8NfGq8xApvPLaatGi6oFAl4ZdwsC
GwMFCQPCZwAFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQpvPLaatGi6qwOQf/
SBwMKB4P0wCEWv06TqVFv1I3PDFHWCir0b2trYywCrGzRnmM+U6hJwKM93bqP3+q
S6KJvhiaqTHggX+XtQX5cUix8UZLMnmN59kMp7Xe4xLpYA5Bfyry0EwHEE29HF4q
rEop4LC2pX3PG4xSjFSovfwCutdSzigw5yXXtp+urC99wXNjQKmXAZZhmHRj44lx
27GBcfmWhYafawqdATL9OR/pEr8kKuFTnflb7YRZdKM7VCkO8Mczwrm566EPaMtU
Y8U229MW/JwLwzl4bECu7NRLBGVSP5FYJvWCDK3wTMsho8mDOzgaMogmmAsLLbqJ
D5HF0ovmYZeyN/gSpoDLDLkBDQReGXcLAQgAtr4wLqkFE36yWbCjiXs5n/Sq99nF
SOF7Y3IkiHCDbA5F2jCjwGSEJSDbB1/gikMPnq7UkiCBEt5kKQidXyIkl4/mXJms
z2eYDw3e8oNQuFqkGj+QI6IWHUiLyLOQG48nOul8pe+LOohjIIH+ZNtNr1/yeqey
910Nsxe+ic+xKeRWm1hUZhIbCIX9fyN94Iy3Y0L3Zt+dVj86crlwWyuYFhuT6kDb
47Ustv3mc+v5XFWAL6zrvL6+SOU/KsPSATxkQczAHVtddyrGLpnc+TMZApNzZZaM
61Jy7yhxx/dmsn8wRksWCJXD/WydGK2cf6M+EFh5LEY9vxhNGy2mWeatKQARAQAB
iQE8BBgBCAAmFiEEBbHyUtz+8NfGq8xApvPLaatGi6oFAl4ZdwsCGwwFCQPCZwAA
CgkQpvPLaatGi6qOrQf9FcGPfj/cg//iApfpcsmF9mQyZAlGdkVt0dEVquLBxCre
UkXBOw7qg0lnuB6FHFNPh735nHTM1b6KIStBwLwATOiCNSWWwUhxu110iZFBc82Y
yuiCMZgVbKELJMDtonu8TlmF0rBAnMj8EhqoCbQNaHp60JNxSksVMisaojlrbNhg
5a+TXmbrXo/0DI9EabMjUaszQxoM0/7iedmQSgiaJJxBQ1LKKLOgDJFKj2JimWQh
m02SopNCfpHfTlBXWAtFi2c8YYo/pQasob6DTiNHXQiwSSiB0TcIyAK5TDJ7ENp2
JeLL2oiSiD3QHVJxvQn0SXk25IXZMBZR/JDj+QiOSg==
=HsQ7
-----END PGP PUBLIC KEY BLOCK-----




</pre>
	<hr>
	<h3>
		mail: vs[@]txt.sx
		<br>
		xmpp: virtualsnow@404.city
		<br>
		github: <a href="https://github.com/virtualsnow">virtualsnow</a>
		<br>
		twitter: <a href="https://twitter.com/_virtualsnow_">_virtualsnow_</a>
	</h3>
</div>


{% endblock content %}

