<div id="footer">
		<div class="barleft">
			<img src="{{ STATIC_PREFIX }}img/snowpixel.png"></img>
			<a href="https://txt.sx/contact"> [ virtualsnow 2019 - 2020 ] </a>
		</div>

		<div class="barright">
			<a href="https://www.torproject.org/" title="tor" target="_blank"><img src="{{ STATIC_PREFIX }}img/tor_icon.png"</a>
			<a href="http://www.kopimi.com/kopimi/" title="Kopimi" target="_blank"><img src="{{ STATIC_PREFIX }}img/kopimi.svg"</a>
			<a href='https://webring.xxiivv.com/#random' target='_blank'><img src='{{ STATIC_PREFIX }}img/webring-white.svg'/></a>
		</div>
</div>
