@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes rainbow{
	0%{color: #f8f8ff;}
	10%{color: #fea3aa;}
	20%{color: #f8b88b;}
	40%{color: #faf884;}
	60%{color: #baed91;}
	80%{color: #b2cefe;}
	100%{color: #f2a2e8;}
}


@keyframes darkrainbow{
	0%{color: #a8a8af;}
	10%{color: #ae535a;}
	20%{color: #a8683b;}
	40%{color: #aaa834;}
	60%{color: #6abd41;}
	80%{color: #627eae;}
	100%{color: #a252b8;}
}

/* get rid of nasty scrollbar for dark theme.*/
* {
    scrollbar-color: #2f2f2f #1c1e1f;
}


html{
	/*body references html height for bg pattern */
	/*if making new radial hacks, may be useful to set height.*/
	height: 100%;
}

body{
	margin:0;
	background-color: #202020;
	color:  #f8f8ff;
	font-family: 'InformaFivesix', monospace;
}

#body-black-opal {
	/* 100% height and 100px nice too, more subtle.
	 * swap to pastels to get gibson opal instead of
	 * black opal */

	min-width: 580px;
	background-image:
		repeating-radial-gradient(
			farthest-corner at 50% -50000px,
			#332020 1px,
			#202033 2px,
			#203320 3px
		);
}

#body-opal {
	color:  #ff1493;
	background-repeat: repeat;
	background-size: cover;
	height: 100%;
	background-image:
		repeating-radial-gradient(
			#ffd0d0 1px,
			#d0d0ff 2px,
			#d0ffd0 3px
	)
}


pre {
	white-space: pre-wrap;
	font-family: 'Inconsolata', monospace;
	text-align:center;
}


.barleft {
	padding-top:16px;
	padding-left:20px;
	float:left;
}

.barright {
	padding-top:16px;
	padding-right:20px;
	float:right;
}

@media  (max-width: 480px) {
	.barleft{
		float:unset;
		text-align:center;
		padding:0;
		padding-top:10px;
		padding-bottom:16px;
	}
	.barright{
		float:unset;
		text-align: center;
		padding:0;
		padding-top:10px;
	}
}


#nav {
	font-size: 32px;
	height:100px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 666;
	animation: fadein 2s;
}

/*white text can get confusing with the body text on scroll
 * until JS collapse is added, use a media query to improve
 * navbar looks.*/
@media  (max-width: 700px) {
	#nav{
		position:static;
	}
}
/* Links inside the navbar */
#nav a {
	color: #f2f2f2;
	padding: 16px 16px;
	text-decoration: none;
}

#nav img{
	height: 50px;
	margin: -20px -10px;
	padding-top: 5px;
}

#footer {
	font-size: 18px;
	min-height:60px;
	height:6vh;
	margin: auto;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 666;
	background-color:#222222;
	border-top: 30px ridge #444444;
}
@media  (max-width: 700px) {
	#footer{
		/* position:static; */
		top:94vh;
	}
}

@media  (max-width: 480px) {
	#footer{
		/*position:static;*/
		top:94vh;
		min-height:120px;
	}
}


#footer a {
	color: #f2f2f2;
	padding: 16px 0px;
	text-decoration: none;
}

#footer img{
	height: 30px;
	margin: -10px 16px;
	padding-top: 5px;
}

#cleanbox{
	min-height: 74vh;
	max-width: 64rem;
	margin: auto;
	padding: 13vh 5% 13vh 5%;

}

.articletext{
	text-align: left;
	font-size:21px;
	font-family:"times, times new roman, serif";
	letter-spacing:0.25px;
	overflow-wrap: break-word;
	line-height: 1.6;
}

.articletext a{
	animation: rainbow 20s infinite;
	text-decoration:none;
}
.articletext p{
	line-height:1.6;
}

.articletext a:visited{
	color: #a8a8af;
}


.articletext h1{
	font-size:3rem;
	font-weight:400;
}

.articletext h2{
	font-size:2.5rem;
	font-weight:400;
}

.articletext h3{
	font-size:2rem;
	font-weight:400;
}

.articletext h4{
	font-size:1.5rem;
	font-weight:400;
}

.helloheader{
	text-align: center;
	color: black;
	font-size: 100px;
	font-weight: bold;
}

#notebox{
	text-align: center;
	outline-width: 5px;
	outline-style: double;
	box-shadow: 30px 30px rgba(22,22,22,0.66);
	background-color:  #323232;
	overflow-wrap: break-word;
	font-size:32px;
	min-width: 530px;
}

#notetext{
	padding: 1.5em;
	text-align: center;


}


#notebox-old{
	text-align: center;
	outline-width: 5px;
	outline-style: double;
	box-shadow: 30px 30px rgba(22,22,22,0.66);

	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);


	background-color:  #323232;
	overflow-wrap: break-word;
	padding-bottom: 3em;
	font-size:32px;

}


#noteheader{
	text-align: right;
	background-color: #444444;
	width: 100%;
}

.btnbox{
	text-align: center;
	margin: 0.2em;
	padding: 0.3em;
	background-color: #f8f8ff;
	box-shadow: 4px 4px  #323232;
	border-radius: 10%;
}

.spacer{
	padding-right:0.3em;
}


pre{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0em 2em 0em 2em;
}


#logofade {
	/* don't mess up our ascii art on mobile */
	/* If your screen is less than 530 pixels get sad ascii */
	min-width: 530px;
	font-size: 20px;
	font-weight: normal;
	background: repeating-radial-gradient(
	farthest-corner at 50% 10000px,
	#ffd0d0 1px ,#d0d0ff 5px ,#d0ffd0 10px);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: -50px;
	padding 0px;
}

@media  (max-width: 600px) {
	#logofade{
		font-size:14px;
		min-width: 400px;
	}

}

.center {
	display: block;
	margin: 0px auto;
}

#logoquote{
	color: rgba(248,248,255,0.5);
	margin:auto;
	text-align:center;
	max-width:500px;
	font-size:24px;
	font-style:italic;
	padding-bottom:64px;
	animation: fadein 2s;
}

.directorylisting {
	text-align:left;
	padding: 0px 64px;
}

.directorylisting p{
	margin: 8px 0px;
}

.directorylisting a:link{
	text-decoration: underline wavy;
	color:#f8f8ff;
}

.directorylisting a:hover{
	animation: rainbow 3s infinite;
}

.directorylisting a:visited{
	text-decoration: underline wavy;
	color:#a8c8aa;
}

#bg404{
	background: url(../img/404/glacier-2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align:center;
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
}

@media  (max-width: 480px) {
	#bg404{
		position:static;
		height:58vh;
	}

}

#bg404 span{
	display:inline-block;
	vertical-align:middle;
	line-height:35vh;
}

.filltext{
	font-size: 25.5vw;
	font-weight: bold;
	background-image: repeating-linear-gradient(
	-45deg,
	transparent 0 5px,
	white 5px 15px);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
